<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>统一配置-项目</title>
    <dir id="header"></dir>
</head>

<body data-spy="scroll" data-target=".bs-docs-sidebar" data-twttr-rendered="true">

<div id="navbar"></div>
<div class="container">
    <div class="row">
        <div id="menu" class="span3 bs-docs-sidebar">
        </div>
        <div class="span9">
            <section>
                <div class="page-header">
                    <table width="100%">
                        <tr>
                            <td><h5>版本</h5></td>
                            <td align="right"><button id="versionNew">新建</button></td>
                        </tr>
                    </table>
                </div>
                <div>
                    项目:
                    <select id="projectId">
                        <option></option>
                    </select>
                    <button class="btn btn-default" id="query">查询</button>
                </div>
                <div class="row-fluid">
                    <table class="table table-bordered table-striped table-hover">
                        <thead>
                        <tr>
                            <th>序号</th>
                            <th>名称</th>
                            <th>描述</th>
                            <th>项目</th>
                            <th>删除</th>
                        </tr>
                        </thead>
                        <tbody id="versions">
                        </tbody>
                    </table>
                </div>
            </section>
        </div>
    </div>
</div>
<div id="dialog-message" title="操作结果">
    <p>
        <span class="ui-icon ui-icon-circle-check" style="float:left; margin:0 7px 50px 0;"></span>
    <div id="errorCode"></div>
    <div id="errorMessage"></div>
    </p>
</div>

<div id="footer"></div>

<script src="/resources/jquery-ui-bootstrap/assets/js/jquery-1.9.0.min.js" type="text/javascript"></script>
<script src="/resources/jquery-ui-bootstrap/assets/js/bootstrap.min.js" type="text/javascript"></script>
<script src="/resources/jquery-ui-bootstrap/assets/js/jquery-ui-1.10.0.custom.min.js" type="text/javascript"></script>
<script src="/resources/jquery-ui-bootstrap/assets/js/google-code-prettify/prettify.js" type="text/javascript"></script>
<script src="/resources/jquery-plugin/jquery.cookie.js" type="text/javascript"></script>
<script src="/resources/cc/version/list.js" type="text/javascript"></script>
</body>
</html>
