<footer class="footer">
    <div class="container">
        <p>
            jQuery UI Bootstrap &copy; Addy Osmani 2012 - 2013.
        </p>
        <p>
            Twitter Bootstrap &copy; Twitter 2012 - 2013
        </p>
        <ul class="footer-links">
            <li><a href="http://addyosmani.com/blog/">Blog</a></li>
            <li class="muted">&middot;</li>
            <li><a href="https://github.com/addyosmani/jquery-ui-bootstrap/issues?state=open">Issues</a></li>
        </ul>
    </div>
</footer>

